.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 35rem;
  padding-bottom: 3rem;
  background-color: blueviolet;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (min-width: 425px) {
  .App-header {
    width: 34rem;
    background-color: blueviolet;
  }
}

.todo_title {
    text-align: center;
}

/* ToDo component css here */
.addTodo_input {
  border: none;
  outline: none !important;
  color: white;
  background-color: rgba(255, 255, 255, 0.479);
  padding: 12px 25px 12px 25px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.addTodo_btn {
  border: none;
  outline: none !important;
  background-color: rgb(241, 25, 231);
  color: white;
  padding: 12px 25px 12px 25px;

}

.tasksAndCompletedTasks_btn {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.tasksAndCompletedTasks_btn button {
  border: none;
  outline: none !important;
  background-color: blueviolet;
  color: white;
  margin-left: 8px;
  padding: 12px 25px 12px 25px;
  cursor: pointer;
}

.tasksAndCompletedTasks_btn button i {
  margin-right: 6px;
}

/* toDoList component css here*/
#cyan {
  background: #fd00c6;
}

#blue {
  background: rgb(7, 120, 124);
}

#rad {
  background: #972408;
}

#orange {
  background: #005792;
}

.toDo_items {
  border-radius: 3px;
  max-width: 22rem !important;
  min-width: 4rem !important;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.toDo_items {
  display: flex;
  margin-top: 1rem;
  padding: 0.7rem;
}

.toDo_items p {
  margin: 0%;
  word-break: break-all;
}

.todo_buttons {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.icons:hover {
  cursor: pointer;
}

.update_container {
  margin-top: 7px;
}

.margin_left {
  margin-left: 5px;
}

.completed_tasks {
  word-break: break-all;
}

.noTask {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  color: rgba(245, 245, 245, 0.233);
}